<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="./thirds/jquery.min.js" type="application/javascript"></script>
</head>
<body>
<%- include("./partials/gooy.html.ejs") %>
</body>
</html>